<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">
                Products
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.users"><i class="icon-people"></i> Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.posts"><i class="icon-notebook"></i> Posts</a>
            </li>
        </ul>
    </nav>
</div>
